.custom-button {
    min-width: 100px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    overflow: hidden;
  
    &:hover {
      background-color: white;
      color: black;
      box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
    }

    &.inverted {
      color: black;
      background-color: white;
      box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 1px 0 black;

      &:hover {
        color: white;
        background-color: black;
        box-shadow: none;
      }
    }

    &.google-sign-in {
      background-color: #4285f4;
      color: white;
      font-family: 'Roboto';
      font-weight: normal;

      &:hover {
        background-color: #357ae8;
        border: none;
      }
    }
  }

@media (hover: none) {
  .custom-button {
    &:hover {
      background-color: black;
      color: white;
      box-shadow: none;
    }

    &.inverted {
      &:hover {
        color: black;
        background-color: white;
        box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
      }
    }

    &.google-sign-in {
      &:hover {
        background-color: #4285f4;
        color: white;
        font-family: 'Roboto';
        font-weight: normal;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .custom-button {
    &.google-sign-in {
      font-size: smaller;
    }
  }
}