.none-container {
  width: 100%;
}

.sign-in {
  display: flex;
    width: 30vw;
    flex: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px;
  
    .title {
      margin: 10px 0;
    }

    .buttons {
      display: flex;
      justify-content: flex-start;

      .custom-button {
        margin-right: 10px;
      }
    }
  }

  .sign-in-popup {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(27, 31, 34);

    h3 {
      margin: 20px 20px;
    }
  }