.workout-set {
    display: flex;
    align-items: baseline;
    justify-content: center;

    .set-number {
        margin-right: 10px;
    }

    .set-input {
        display: inline-block;
        margin: 0 10px;
    }
}

