.aerobic-exercise {
    display: flex;
    justify-content: center;


    .aerobic-exercise-input{
        display: inline-block;
        margin: 0 10px;
    }
}

@media screen and (max-width: 600px) {
    .aerobic-exercise {
        width: 80%;
    }
}