.chosen-exercises-dropdown {
    position: fixed;
    width: 240px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(27, 31, 34);
    border-bottom: solid 1px #66B3FF;
    top: 100px;
    right: 0;
    z-index: 1;

    &.offset {
        right: 240px;
    }

    .exercises {
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .custom-button {
        height: 30px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 600px) {
    .chosen-exercises-dropdown {
        top: 50px;
        font-size: small;

        .exercises {
            min-height: 140px;
        }
    }
}

@media screen and (max-width: 480px) {
    .chosen-exercises-dropdown {
        width: 50vw;

        &.offset {
            left: 0;
        }
    }
}