.category-page {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .items {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
    }
  }