.atlas-category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .atlas-category {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
  }