.start-workout-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #66B3FF;
    margin: 10px 0;

    &:hover {
        box-shadow: inset -1px 0 0 #66B3FF, inset 0 -1px 0 #66B3FF, inset 1px 0 0 #66B3FF, inset 0 1px 0 #66B3FF;
    }

    .details {
        padding: 0 10px;
        margin: 10px 0;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .start-workout-item {
        .details {
            font-size: smaller;
        }
    }
}

@media (hover: none) {
    .start-workout-item {
        &:hover {
            box-shadow: none;
        }
    }
}