.start-workout-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px 0;

    .details {
        padding: 0 10px;
        margin: 10px 0;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .start-workout-item {
        .details {
            font-size: smaller;
        }
    }
}