.exercise-item {
    width: 30%;
    height: 200px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #66B3FF;
    margin: 10px;

    &:hover {
        border: 3px solid #66B3FF;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
            font-weight: bold;
            font-size: 22px;
        }

        .footer {
            margin-top: 10px;
        }
    }
  }

  @media screen and (max-width: 480px) {
    .exercise-item {
        width: 100%;
    }
}

@media (hover: none) {
    .exercise-item {
        &:hover {
            border: 1px solid #66B3FF;
        }
    }
}