.workout-in-progress {
    width: 100%;

    .actions {
        margin-top: 10px;

        .custom-button {
            margin: 5px 10px;
        }
    }

    .time {
        display: inline-block;
        width: 120px;
    }

    .timer-button {
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        height: 30px;
        background-color: rgb(27, 31, 34);
        color: white;
        box-shadow: inset -1px 0 0 #66B3FF, inset 0 -1px 0 #66B3FF, inset 1px 0 0 #66B3FF, inset 0 1px 0 #66B3FF;
        cursor: pointer;

        &:hover {
            box-shadow: none;
            background-color: white;
            color: rgb(27, 31, 34);
        }

        .pause-button {
            line-height: 1.2px;
        }
    }
}

@media (hover: none) {
    .workout-in-progress {
        .timer-button {
            &:hover {
                color: white;
                box-shadow: inset -1px 0 0 #66B3FF, inset 0 -1px 0 #66B3FF, inset 1px 0 0 #66B3FF, inset 0 1px 0 #66B3FF;
                background-color: rgb(27, 31, 34);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .workout-in-progress {
        width: 90%;
    }
}
