.workout-created-page {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;

    .workout-created-header {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid darkgrey;

        .header-block {
            width: 40%;
            
            &:last-child {
                width: 20%;
            }
        }

    }
}