.review-template-item {
    width: 100%;
    display: flex;
    min-height: 100px;
    border-bottom: 1px solid #66B3FF;
    padding: 15px 0;
    font-size: large;
    align-items: center;
  
    .name, .sets, .remove-button {
      width: 33%;
    }

    .sets {
      display: inline-block;

      .arrow {
        display: inline;
        cursor: pointer;
      }

      .value {
        margin: 0 10px;
        padding-top: 3px;
      }
    }
  
    .remove-button {
      padding-left: 12px;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 480px) {
    .review-template-item {
      .name {
        font-size: medium;
      }
    }
  }