.category-item {
    width: 30%;
    height: 200px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;

    &:hover {
        .content{
            border: none;
            background-color: black;
            color: white;
            box-shadow: none;
        }
    }

    .content {
        height: 60px;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 1px 0 black;

        .title {
            font-weight: bold;
            font-size: 22px;
        }
    }
}