.category-item {
    min-width: 30%;
    height: 200px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    cursor: pointer;

    .content {
        height: 60px;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0 0 2px black;

        &:hover {
            border: none;
            background-color: black;
            color: white;
        }

        .title {
            font-weight: bold;
            font-size: 22px;
        }
    }
}